<!-- views/owner/editLocation.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Lokasi Kos</title>
</head>
<body>
  <h1>Edit Lokasi Kos - ID: <%= kos._id %></h1>

  <form action="/owner/kos/<%= kos._id %>/update-location" method="POST">
    <input type="hidden" name="lat" id="lat" value="-0.9148131">
    <input type="hidden" name="lng" id="lng" value="100.460876">
    <button type="submit">Simpan Lokasi</button>
  </form>
</body>
</html>
