onchange="updateKosStatus('<%= kosItem.id %>', this.checked ? 'available' : 'not_available')" />
                            <img src="/uploads/<%= kosDetails[index].photos[0] %>" alt="<%= kosDetails[index].name %>" class="w-full h-full object-cover">                    <h3 class="text-xl font-semibold text-gray-800 mt-4"><%= kosDetails[index].name %></h3>